@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    background-color: #F1F1F1;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/* top navigatie */
body nav:nth-of-type(1) {
    background-color: #675C53;
    height: 3.125em;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

body nav:nth-of-type(1) > img {
    width: 3.5em;
    height: 3em;
    margin-left: 1em;
}

body#home nav:nth-of-type(1) a:first-of-type img {
    width: 2em;
    height: 2em;
    margin-top: 0.5em;
    margin-left: 0.5em;
}

body#home nav:first-child a:last-of-type img {
    width: 4em;
    height: 4em;
    margin-top: -0.5em;
}

body#verhaalpagina nav:nth-of-type(1) a img {
    width: 2em;
    height: 2em;
    margin-top: 0.5em;
    margin-left: 1em;
}

body#verhaalpagina nav:first-child button {
    border-style: none;
    background: none;
}

body#verhaalpagina nav:first-child button img {
    width: 2.5em;
    height: 2.2em;
    margin-top: 0.5em;
    margin-right: 1em;
}

/* bottom navigatie */
body#home nav:nth-of-type(2) {
    background-color: #FCD900;
    padding-bottom: 1em;
}

body#verhaalpagina nav:nth-of-type(2) {
    background-color: #FCD900;
    padding-bottom: 1em;
}

body#home nav:nth-of-type(2) img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5em;
    padding-top: 2.5em;
    width: 25em;
}

body#home nav:nth-of-type(2) ul {
    list-style: none;
    margin: auto;
    display: flex;
    justify-content: center;
}

body#verhaalpagina nav:nth-of-type(2) ul {
    list-style: none;
    margin: auto;
    display: flex;
    justify-content: center;
}

body#verhaalpagina nav:nth-of-type(2) ul li:first-of-type a img {
    margin-left: -2.5em;
    margin-right: 2em;
}

body#verhaalpagina nav:nth-of-type(2) ul li:last-of-type img {
    margin-left: -1em;
}

body#home nav:nth-of-type(2) ul li {
    margin-left: 1em;
    margin-right: 3em;
    background-color: #675c53;
    border-radius: 0.625em;
    padding: 0.5em 0em 0.5em 0em;
}

/* filter knop */
body nav:nth-of-type(2) ul li:first-of-type button {
    padding-left: 2em;
    padding-right: 2em;
    border: none;
    background: transparent;
    font: inherit;
    color: white;
}

/* verras me */
body nav:nth-of-type(2) ul li a {
    padding-left: 1em;
    padding-right: 1em;
    text-decoration: none;
    color: white;
}

/* filter menu MI */
body section:nth-of-type(1) {
    justify-content: center;
    height: 0;
    padding: 0;
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 0;
    transition: 0.5s;
}

body section:nth-of-type(1).show-form {
    margin-top: 0em;
    height: 24em;
}

body fieldset:nth-of-type(1) {
    margin-top: 1em;
    border-style: none;
}

body fieldset:nth-of-type(1) ul {
    list-style: none;
    margin: auto;
    margin-top: 0.5em;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 0.5em;
    width: 15em;
}

body fieldset:nth-of-type(2) {
    padding: 1em 1em 1em 1em;
    border-style: none;
}

body fieldset:nth-of-type(2) input {
    display: none;
}

body fieldset:nth-of-type(2) input[type="radio"]:checked + label {
    border: solid 0.2em #fcd900;
    transition: all 0.2s;
}

body fieldset:nth-of-type(2) label {
    font-size: 1.2em;
    padding: 0.5em;
    border-radius: 1em;
    border: solid 0.12em #ccc;
}

body fieldset:nth-of-type(3) {
    padding: 1em 1em 1em 1em;
    border-style: none;
}

body fieldset:nth-of-type(3) input[type="radio"] {
    visibility: hidden;
    width: 0;
    position: absolute;
}

body fieldset:nth-of-type(3) input[type="radio"]:checked + label {
    border: solid 0.2em #fcd900;
    transition: all 0.2s;
}

body fieldset:nth-of-type(3) label {
    font-size: 1.2em;
    padding: 0.5em;
    border-radius: 1em;
    border: solid 0.12em #ccc;
    margin-left: 0.4em;
}

body form button {
    margin: 1em 0em -10em 10em;
    width: 4em;
    height: 4em;
    border-style: none;
    background-color: #FFEA68;
    border-radius: 10em;
}

body form button:hover {
    padding: 0em 2em 0em 2em;
    margin: 1em -10em -10em 10em;
    background-color: #fcd900;
    width: 7em;
    height: 4.2em;
    transition: all 0.2s;
}

body form button:hover img {
    align-content: center;
}

body form button img {
    width: 3em;
    margin: 0.5em 0em 0em 0em;
}

/*ontdek genres*/
body section:nth-of-type(2) {
    background-color: #f2E17A;
    padding: 0;
    margin-right: 0em;
    margin-left: -0.5em;
    margin-top: 0;
    border-radius: 0em 0em 1em 1em;
}

body section:nth-of-type(2) h2 {
    font-size: 1.2em;
    padding-top: 1.5em;
    padding-left: 2em;
}

body section:nth-of-type(2) ul {
    display: flex;
    margin-left: -0.2em;
}

body section:nth-of-type(2) li {
    list-style: none;
    padding-right: 1em;
}

body section:nth-of-type(2) img {
    width: 8em;
    height: 4em;
    border-style: none;
    border-radius: 1em;
    margin-top: 1.5em;
}

/* verder lezen */
body section {
    position: relative;
    display: flex;
    background-color: #ffffff;
    border-radius: 1em 0em 0em 1em;
    padding: 2em 2em 2em 1em;
    margin: 1.5em 0em 1em 1em;
    overflow-x: hidden;
}

body section h2 {
    margin: -1em 0 0.5em 0em;
    position: absolute;
}

body section a img {
    margin: -2.5em 0em 0em -1.1em;
    width: 20em;
    height: 14em;
    border-radius: 2em;
    border-style: solid;
    border-color: grey;
    border-width: 0.1em;
}

body section a {
    width: 11em;
    margin-right: 1.5em;
}

body section article {
    width: 18em;
    height: 20em;
    padding: 1em;
    margin: 2.5em 2em 0em 0em;
    border-style: solid;
    border-color: grey;
    border-radius: 2em;
    border-width: 0.1em;
}

body section p {
    font-size: 0.9em;
}

body section h3 {
    font-size: 1em;
}

/* footer */
body footer {
    height: 8em;
    width: 100%;
    background-color: #fff;
    text-align: center;
    box-shadow: 0.5em 0.5em 0.5em 0.5em grey;
}

body footer svg {
    width: 5em;
    /*
    display: flex;
    margin-left: 1em; */
    margin-bottom: -2em;
}

body footer p {
    color: #675c53;
    margin-bottom: 0.1em;
    font-weight: bold;
}

body footer a {
    color: #675c53;
    /*    margin-left: 2em;*/
}

/* header verhaal pagina */
body#verhaalpagina nav:last-of-type ul {
    margin-bottom: -1em;
}

body#verhaalpagina nav:last-of-type ul li:first-of-type img {
    width: 3.2em;
    margin-right: 1em;
    margin-top: 1.3em;
    margin-left: -5em;
}

body#verhaalpagina nav:last-of-type ul li:first-of-type {
    margin-top: -0.5em;
    margin-right: 0.5em;
}

body#verhaalpagina nav:last-of-type ul li:last-of-type img {
    padding-top: 0.5em;
    width: 22em;
    margin-right: 1em;
}

body#verhaalpagina span img {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    width: 88vw;
    height: 50em;
    display: block;
    margin: auto;
    margin-top: 0.5em;
    background-image: url(../images/alzheimermobile.jpg);
}

/* favoriet toevoegen MI */
body#verhaalpagina section {
    background-color: #fff;
    box-shadow: 0.3em 0.4em 1.5em 0em;
    border-style: solid;
    border-width: 0.09em;
    border-color: #554b43;
    border-radius: 0.625em;
    height: 12em;
    width: 18em;
    margin: auto;
    margin-top: -40em;
    position: relative;
}

body#verhaalpagina section img {
    width: 9em;
    margin-top: -0.5em;
    position: absolute;
}

body#verhaalpagina section p {
    margin-top: 7em;
    text-align: center;
    font-size: 1.1em;
    width: 13em;
    color: #554b43
}

body#verhaalpagina section.popup-hide {
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
}

body#verhaalpagina section.popup-show {
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
}

body#verhaalpagina section.popup-show img {
    animation: rotation 0.8s ease-out;
    animation-delay: 0.5s;
}

@keyframes rotation {
        from {
                transform: rotate(0deg);
        }
        to {
                transform: rotate(360deg);
        }
}


/* media queries tablet */
@media (min-width: 48em) {


    /* top nav */
    body#home nav:first-of-type a:first-of-type img {
        margin-left: 15vw;
    }

    body#home nav:first-of-type a:last-of-type img {
        margin-right: 15vw;
    }

    body#verhaalpagina nav:nth-of-type(1) a:first-of-type img {
        width: 2em;
        height: 2em;
        margin-top: 0.5em;
        margin-left: 28vw;
    }

    body#verhaalpagina nav:first-child button img {
        width: 2em;
        height: 1.8em;
        margin-top: 0.5em;
        margin-right: 26vw;
    }

    /* bottom navigatie */
    body#verhaalpagina nav:nth-of-type(2) ul li:first-of-type a img {
        width: 4em;
        margin-right: -3em;
    }

    body#verhaalpagina nav:nth-of-type(2) ul li:last-of-type img {
        width: 25em;
    }

    /* ontdek genres */
    body section:nth-of-type(2) img {
        width: 8em;
        height: 4em;
        border-style: none;
        border-radius: 1em;
        margin-top: 1.5em;
        margin-right: 1.5em;
    }

    /* 99 verhalen img */
    body#home nav:nth-of-type(2) img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0.5em;
        padding-top: 2.5em;
        width: 35em;
    }

    /* filter knop */
    body nav:nth-of-type(2) ul li:first-of-type button {
        padding-left: 4em;
        padding-right: 4em;
    }

    /* verras me */
    body nav:nth-of-type(2) ul li a {
        padding-left: 3em;
        padding-right: 3em;
    }

    body#verhaalpagina span img {
        width: 100%;
        background-image: url(../images/alzheimertablet.jpg);
    }

    /* verhaal toevoegen MI */
    body#verhaalpagina section {
        height: 16em;
        width: 22em;
        margin: auto;
        margin-top: -40em;
        position: relative;
    }

    body#verhaalpagina section img {
        width: 13em;
        margin-top: -0.5em;
        position: absolute;
    }

    body#verhaalpagina section p {
        margin-top: 8.5em;
        text-align: center;
        font-size: 1.3em;
        width: 14em;
    }
}

/* media queries desktop */
@media (min-width: 67em) {


    body#home nav:first-of-type a:first-of-type img {
        margin-left: 31vw;
    }

    body#home nav:first-of-type a:last-of-type img {
        margin-right: 31vw;
    }

    body#verhaalpagina nav:first-of-type a:first-of-type img {
        margin-left: 34vw;
    }

    body#verhaalpagina nav:first-of-type button img {
        margin-right: 34vw;
    }

    /* bottom navigatie */
    body#verhaalpagina nav:nth-of-type(2) ul li:first-of-type a img {
        width: 4.5em;
        margin-right: -3em;
        margin-left: -5.5em;
    }

    body#verhaalpagina nav:nth-of-type(2) ul li:last-of-type img {
        width: 30em;
    }

    /* ontdek genres */
    body section:nth-of-type(2) img {
        width: 10em;
        height: auto;
        border-style: none;
        border-radius: 1em;
        margin-right: 2em;
    }

    /* 99 verhalen img */
    body#home nav:nth-of-type(2) img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0.5em;
        padding-top: 2.5em;
        width: 45em;
    }

    /* filter knop */
    body nav:nth-of-type(2) ul li:first-of-type button {
        padding-left: 5em;
        padding-right: 5em;
    }

    /* verras me */
    body nav:nth-of-type(2) ul li a {
        padding-left: 4em;
        padding-right: 4em;
    }

    body#verhaalpagina span img {
        width: 100%;
        background-image: url(../images/alzheimer.png);
    }

        /* verhaal toevoegen MI */
    body#verhaalpagina section {
        height: 19em;
        width: 25em;
        margin: auto;
        margin-top: -40em;
        position: relative;
    }

    body#verhaalpagina section img {
        width: 16em;
        margin-top: -1em;
        position: absolute;
    }

    body#verhaalpagina section p {
        margin-top: 8.5em;
        text-align: center;
        font-size: 1.5em;
        width: 12em;
    }
}
