body {
    background-color: #F1F1F1;
    font-family: 'Roboto', sans-serif;
}

/* top navigatie */
.topnav {
    background-color: #675C53;
    padding-bottom: 1em;
    margin: -0.5em -0.4em -1em -0.5em;
}

.topnav {
    list-style: none;
}

.logo {
    width: 3.5em;
    position: absolute;
    top: 0.3em;
    left: 10em;
}

.favorieten {
    width: 3em;
    margin: -0.5em 0 -1.7em 0;
}

/* bottom navigatie */
.bottomnav {
    background-color: #FCD900;
    width: 100%;
    list-style: none;
    padding: 0 1em 5em 0;
    margin-left: -0.5em;
}

.navstyle {
    list-style: none;
}

.sorteer {
    color: white;
    background-color: #675C53;
    padding: 1em;
    position: absolute;
    margin: 0.8em 0 0 -1.5em;
    border-radius: 1em;
}

.zoek {
    position: absolute;
    margin: 1.7em 0 0 4em;
}

.verras {
    color: white;
    background-color: #675C53;
    padding: 1em;
    position: absolute;
    margin: 0.8em 0 0 15em;
    border-radius: 1em;
}

.sferen {
    background-color: #f2E17A;
    padding: 0.8em;
    margin: 0 -0.5em 1em -0.5em;
}

.sferentext {
    margin-top: -0.5em;
}

.verderlezen {
    background-color: #ffffff;
    border-radius: 1em;
    padding: 2em 2em 1em 2em;
    margin-bottom: 1em;
}

.verderlezentitle {
    margin: -1em 0 0.5em -1em;
}

.verhaalimg {
    width: 10em;
    border-radius: 2em;
}

.sfeerimg {
    width: 7em;
    border-radius: 2em;
    margin-top: -1em;
}

.suggesties {
    background-color: #ffffff;
    border-radius: 1em;
    padding: 2em 2em 1em 2em;
    margin-bottom: 1em;
}

.suggestiestitle {
    margin: -1em 0 0.5em -1em;
}

.populair {
    background-color: #ffffff;
    border-radius: 1em;
    padding: 2em 2em 1em 2em;
    margin-bottom: 1em;
}

.populairtitle {
    margin: -1em 0 0.5em -1em;
}

/* voorbeeld */
.voorbeeld {
    width: 100%;
}
